.title {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    white-space: nowrap;
}

.subtitle {
    margin-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    color: grey;
    font-size: 10px;
}